
      @font-face {
        font-family: "Amatic SC";
        src: url("../font/AmaticSC-Regular.ttf");
      }

      body,
      html {
        height: 100%;
      }
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Amatic SC", sans-serif;
      }
      .menu {
        display: none;
      }
      .bgimg {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("/Assets/bg.jpg");
        min-height: 100%;
      }
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 30%;
        margin: 15px;
        float: left;
      }
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      }
      .container {
        padding: 2px 16px;
      }
