      @font-face {
        font-family: "Amatic SC";
        src: url("../font/AmaticSC-Regular.ttf");
      }
      body,
      html {
        height: 100%;
        background-color: #f6f6f6;
      }
      body,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: "Amatic SC", sans-serif;
      }
      .container {
        padding: 64px;
      }
      .content {
        background-color: white;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      .content h1 {
        color: #333;
      }
      .content p {
        color: #000000;
        line-height: 1.6;
        font-size: 20px;
      }
      .form-container {
        max-width: 500px;
        margin: 0 auto;
      }
      .form-group {
        margin-bottom: 20px;
      }
      .form-group label {
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      .form-group input,
      .form-group select,
      .form-group textarea {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      .form-group .error-message {
        color: #ff0000;
        font-size: 14px;
        font-weight: bold;
      }
      .submit-button {
        background-color: #4caf50;
        color: white;
        padding: 10px 20px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      .submit-button:hover {
        background-color: #45a049;
      }